<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="">
                                    Monthly Net Revenue
                                    <h2>₹<span class="counter " [countUp]="54000 " >0</span></h2>
                                    <!-- <h2 class="counter" [countUp]="54000" [options]="{ enableScrollSpy: true }">0</h2> -->
                                </div>
                                <div class="text-white rounded ">
                                    <img src="../../../assets/images/icons/net_revenue.png" width="80" alt="">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="">
                                    Monthly Revenue
                                    <h2>₹<span class="counter " [countUp]="54000 ">0</span></h2>
                                    <!-- <h2 class="counter" [countUp]="54000" [options]="{ enableScrollSpy: true }">0</h2> -->
                                </div>
                                <div class="text-white rounded ">
                                    <img src="../../../assets/images/icons/tds-1.png" width="80" alt="">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="">
                                    Today's Revenue
                                    <h2 class="counter" [countUp]="60">0</h2>
                                </div>
                                <div class=" text-white rounded">
                                    <img src="../../../assets/images/icons/revenue.png" width="80" alt="">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="">
                                    Total Payout
                                    <h2>₹<span class="counter " [countUp]="54000 ">0</span></h2>
                                    <!-- <h2 class="counter" [countUp]="54000" [options]="{ enableScrollSpy: true }">0</h2> -->
                                </div>
                                <div class="text-white rounded ">
                                    <img src="../../../assets/images/icons/today-revenue.png" width="80" alt="">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="">
                                    GST Report
                                    <h2 class="counter" [countUp]="60">0</h2>
                                </div>
                                <div class=" text-white rounded">
                                    <img src="../../../assets/images/icons/gst.png" width="80" alt="">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="">
                                    TDS Report
                                    <h2 class="counter" [countUp]="60">0</h2>
                                </div>
                                <div class=" text-white rounded">
                                    <img src="../../../assets/images/icons/tds.png" width="80" alt="">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>