<section class="login-content">
    <div class="row m-0 align-items-center bg-white vh-100">
        <div class="col-md-6 d-md-block d-none bg-primary p-0 vh-100 overflow-hidden">
            <img src="assets/images/auth/02.png" class="img-fluid gradient-main animated-scaleX" alt="images" loading="lazy">
        </div>
        <div class="col-md-6 p-0">
            <div class="card card-transparent auth-card shadow-none d-flex justify-content-center mb-0">
                <div class="card-body ">
                    <a [routerLink]="['/dashboard']" class="navbar-brand d-flex align-items-center justify-content-center mb-3">
                        <!-- {{> components/widgets/logo }} -->
                        <hui-brand-logo></hui-brand-logo>
                        <!-- <h4 hui-brand-name class="logo-title ms-3 mb-0" data-setting="app_name"></h4> -->
                    </a>
                    <h2 class="mb-2 ">Forgot Password</h2>
                    <p>Enter your email address and we'll send you an email with instructions to reset your password.</p>
                    <form [formGroup]="forgotPwdForm" (ngSubmit)="onReset()">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="floating-label form-group">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && fun.email.errors }" placeholder="name@example.com">
                                    <div *ngIf="submitted && fun.email.errors" class="invalid-feedback">
                                        <div *ngIf="fun.email.errors.required">Email is required</div>
                                        <div *ngIf="fun.email.errors.email">Email must be a valid email address</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary">Reset</button>
                            </div>
                            <div class="col-md-6 text-end">
                                <a class="small" routerLink="/login">
                                    <svg class="icon-32" width="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path opacity="0.4" d="M15.7975 10.8096L19.4967 10.4824C20.3269 10.4824 21 11.1621 21 12.0003C21 12.8386 20.3269 13.5182 19.4967 13.5182L15.7975 13.1911C15.1463 13.1911 14.6183 12.6579 14.6183 12.0003C14.6183 11.3416 15.1463 10.8096 15.7975 10.8096Z" fill="currentColor"/>
                                    <path d="M3.37534 10.8698C3.43316 10.8115 3.64915 10.5647 3.85206 10.3598C5.03568 9.07656 8.12619 6.97815 9.7429 6.33596C9.98835 6.23352 10.6091 6.01542 10.9418 6C11.2592 6 11.5625 6.0738 11.8516 6.2192C12.2127 6.42299 12.5007 6.74463 12.66 7.12355C12.7614 7.38572 12.9207 8.17331 12.9207 8.18763C13.0789 9.04792 13.165 10.4469 13.165 11.9934C13.165 13.465 13.0789 14.8067 12.949 15.6813C12.9349 15.6967 12.7756 16.6738 12.6021 17.0086C12.2847 17.6211 11.664 18 10.9996 18H10.9418C10.5087 17.9857 9.5989 17.6057 9.5989 17.5924C8.06837 16.9502 5.05096 14.9532 3.83788 13.6258C3.83788 13.6258 3.49534 13.2844 3.34698 13.0718C3.11571 12.7656 3.00007 12.3866 3.00007 12.0077C3.00007 11.5847 3.12989 11.1915 3.37534 10.8698Z" fill="currentColor"/>
                                    </svg>Back To Sign In</a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="sign-bg sign-bg-right">
                <svg width="280" height="230" viewBox="0 0 431 398" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g opacity="0.05">
                <rect x="-157.085" y="193.773" width="543" height="77.5714" rx="38.7857" transform="rotate(-45 -157.085 193.773)" fill="#3B8AFF"/>
                <rect x="7.46875" y="358.327" width="543" height="77.5714" rx="38.7857" transform="rotate(-45 7.46875 358.327)" fill="#3B8AFF"/>
                <rect x="61.9355" y="138.545" width="310.286" height="77.5714" rx="38.7857" transform="rotate(45 61.9355 138.545)" fill="#3B8AFF"/>
                <rect x="62.3154" y="-190.173" width="543" height="77.5714" rx="38.7857" transform="rotate(45 62.3154 -190.173)" fill="#3B8AFF"/>
                </g>
             </svg>
            </div>
        </div>
    </div>
</section>