// @import '~swiper/scss';
// @import '~swiper/scss/navigation';
.mat-h2,
.mat-title,
.mat-typography .mat-h2,
.mat-typography .mat-title,
.mat-typography h2,
.mat-typography .h2 {
    font: 500 20px / 32px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    margin: 0 0 0;
}

// .main-content .content-inner {
//     min-height: auto
// }