<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="header-title">
                    <h4 class="card-title">Personal Details</h4>
                </div>
            </div>
            <div class="card-body cust-height">
                <div class="row mb-3">
                    <label class="col-lg-4 col-6  text-muted">Full Name</label>
                    <div class="col-lg-8 col-6">
                        <span class="fw-semibold fs-6 ">:Sneha Misal</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-lg-4 col-6  text-muted">Referral Id</label>
                    <div class="col-lg-8 col-6">
                        <span class="fw-semibold fs-6 ">:#67445</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-lg-4 col-6  text-muted">Email</label>
                    <div class="col-lg-8 col-6">
                        <span class="fw-semibold fs-6 ">:nikjone@demoo.com</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-lg-4 col-6  text-muted">Phone</label>
                    <div class="col-lg-8 col-6">
                        <span class="fw-semibold fs-6 ">:001 2351 256 12</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-lg-4 col-6  text-muted">Address</label>
                    <div class="col-lg-8 col-6">
                        <span class="fw-semibold fs-6 ">:F15, East Court Phoenix Market City, Clover Park,</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-lg-4 col-6  text-muted">Village</label>
                    <div class="col-lg-8 col-6">
                        <span class="fw-semibold fs-6 ">:Viman Nagar</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-lg-4 col-6  text-muted">Taluka</label>
                    <div class="col-lg-8 col-6">
                        <span class="fw-semibold fs-6 ">:Mulshi</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-lg-4 col-6  text-muted">District</label>
                    <div class="col-lg-8 col-6">
                        <span class="fw-semibold fs-6 ">:Pune</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-lg-4 col-6  text-muted">State</label>
                    <div class="col-lg-8 col-6">
                        <span class="fw-semibold fs-6 ">:Maharashtra</span>
                    </div>
                </div>
                <div class="row ">
                    <label class="col-lg-4 col-6  text-muted">Pin Code</label>
                    <div class="col-lg-8 col-6">
                        <span class="fw-semibold fs-6 ">:411014</span>
                    </div>
                </div>
                <!-- <ul
                 class="list-unstyled mb-0">
                    <li class="d-flex  mb-3">
                        <span class="fw-semibold mx-2 text-dark">Full Name:</span>
                        <span>Sneha Misal</span>
                    </li>
                    <li class="d-flex  mb-3">
                        <span class="fw-semibold mx-2 text-dark">Email:</span>
                        <span>nikjone@demoo.com</span>
                    </li>
                    <li class="d-flex  mb-3">
                        <span class="fw-semibold mx-2 text-dark">Phone:</span>
                        <span>001 2351 256 12</span>
                    </li>
                    <li class="d-flex  mb-3">
                        <span class="fw-semibold mx-2 text-dark">Address:</span>
                        <span>F15, East Court Phoenix Market City, Clover Park,</span>
                    </li>
                    <li class="d-flex  mb-3">
                        <span class="fw-semibold mx-2 text-dark">Village:</span>
                        <span>Viman Nagar</span>
                    </li>
                    <li class="d-flex  mb-3">
                        <span class="fw-semibold mx-2 text-dark">Taluka:</span>
                        <span>Mulshi</span>
                    </li>
                    <li class="d-flex  mb-3">
                        <span class="fw-semibold mx-2 text-dark">District:</span>
                        <span>Pune</span>
                    </li>
                    <li class="d-flex  mb-3">
                        <span class="fw-semibold mx-2 text-dark">State:</span>
                        <span>Maharashtra</span>
                    </li>
                    <li class="d-flex  mb-3">
                        <span class="fw-semibold mx-2 text-dark">Pin Code:</span>
                        <span>411014</span>
                    </li>
                </ul> -->

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="header-title">
                    <h4 class="card-title">Identity Proof</h4>
                </div>
            </div>
            <div class="card-body cust-height">
                <div class="row mb-3">
                    <label class="col-lg-4 col-6  text-muted">Name As GST</label>
                    <div class="col-lg-8 col-6">
                        <span class="fw-semibold fs-6 ">:Sneha Misal</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-lg-4 col-6  text-muted">GST No.</label>
                    <div class="col-lg-8 col-6">
                        <span class="fw-semibold fs-6 ">:23456785678</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-lg-4 col-6  text-muted">PAN Number.</label>
                    <div class="col-lg-8 col-6">
                        <span class="fw-semibold fs-6 ">:ASDFG12345</span>
                    </div>
                </div>
                <div class="row">
                    <label class="col-lg-4 col-6  text-muted">PAN Card Image</label>
                </div>
                <div class="row mb-3 d-flex justify-content-center ">
                    <div class="d-grid gap-card grid-cols-1 ">
                        <a data-fslightbox="gallery" href="assets/images/icons/04.png" class="border border-dashed p-3 text-center">
                            <img src="assets/images/icons/04.png" class="img-fluid bg-soft-info rounded pan_img" alt="Pan-image" loading="lazy">
                        </a>
                    </div>
                </div>
                <!-- <ul class="list-unstyled mb-0">
                    <li class="d-flex  mb-3">
                        <span class="fw-semibold mx-2 text-dark">Name As GST :</span>
                        <span>Sneha Misal</span>
                    </li>
                    <li class="d-flex  mb-3">
                        <span class="fw-semibold mx-2 text-dark">GST No. :</span>
                        <span>23456785678</span>
                    </li>
                    <li class="d-flex  mb-3">
                        <span class="fw-semibold mx-2 text-dark">PAN Number :</span>
                        <span>ASDFG12345</span>
                    </li>
                    <li class="d-flex  mb-3">
                        <span class="fw-semibold mx-2 text-dark">PAN Card :</span>
                    </li>
                    <li class="d-flex  mb-3 justify-content-center border border-dashed p-3">
                        <div class="d-grid gap-card grid-cols-1">
                            <a data-fslightbox="gallery" href="assets/images/icons/04.png">
                                <img src="assets/images/icons/04.png" class="img-fluid bg-soft-info rounded pan_img" alt="Pan-image" loading="lazy">
                            </a>
                        </div>
                    </li>
                </ul> -->
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="header-title">
                    <h4 class="card-title">Bank Details</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <label class="col-lg-4 col-6  text-muted">Account Holder Name</label>
                    <div class="col-lg-8 col-6">
                        <span class="fw-semibold fs-6 ">:Sneha Misal</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-lg-4 col-6  text-muted">Bank Name</label>
                    <div class="col-lg-8 col-6">
                        <span class="fw-semibold fs-6 ">:State Bank Of India</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-lg-4 col-6  text-muted">Account No</label>
                    <div class="col-lg-8 col-6">
                        <span class="fw-semibold fs-6 ">:987654321741</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-lg-4 col-6  text-muted">IFSC Code</label>
                    <div class="col-lg-8 col-6">
                        <span class="fw-semibold fs-6 ">:ASD963852</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-lg-4 col-6  text-muted">Account Type</label>
                    <div class="col-lg-8 col-6">
                        <span class="fw-semibold fs-6 ">:lorem limpsum</span>
                    </div>
                </div>
                <!-- <ul class="list-unstyled mb-0">
                    <li class="d-flex  mb-3">
                        <span class="fw-semibold mx-2 text-dark">Account Holder Name :</span>
                        <span>Sneha Misal</span>
                    </li>

                    <li class="d-flex  mb-3">
                        <span class="fw-semibold mx-2 text-dark">Bank Name:</span>
                        <span>State Bank Of India</span>
                    </li>
                    <li class="d-flex  mb-3">
                        <span class="fw-semibold mx-2 text-dark">Account No:</span>
                        <span>987654321741</span>
                    </li>
                    <li class="d-flex  mb-3">
                        <span class="fw-semibold mx-2 text-dark">IFSC Code:</span>
                        <span>ASD963852</span>
                    </li>
                    <li class="d-flex  mb-3">
                        <span class="fw-semibold mx-2 text-dark">Account Type :</span>
                        <span>lorem limpsum</span>
                    </li>
                </ul> -->

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="header-title">
                    <h4 class="card-title">Family Members</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <label class="col-lg-5 col-6 fw-semibold  text-dark">Name</label>
                    <div class="col-lg-3 col-6">
                        <span class="fw-semibold fs-6 "> Age</span>
                    </div>
                    <div class="col-lg-4 col-6">
                        <span class="fw-semibold fs-6 ">Relation</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-lg-5 col-6 fw-semibold  text-dark">Avinash Patil</label>
                    <div class="col-lg-3 col-6">
                        <span class="fw-semibold fs-6 ">(50 Age)</span>
                    </div>
                    <div class="col-lg-4 col-6">
                        <span class="fw-semibold fs-6 ">Father</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-lg-5 col-6 fw-semibold  text-dark">Navangale Patil
                    </label>
                    <div class="col-lg-3 col-6">
                        <span class="fw-semibold fs-6 ">( 25 Age)</span>
                    </div>
                    <div class="col-lg-4 col-6">
                        <span class="fw-semibold fs-6 ">Brother </span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-lg-5 col-6 fw-semibold  text-dark">Airi Satou</label>
                    <div class="col-lg-3 col-6">
                        <span class="fw-semibold fs-6 ">( 45 Age)</span>
                    </div>
                    <div class="col-lg-4 col-6">
                        <span class="fw-semibold fs-6 ">Mother</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-lg-5 col-6 fw-semibold  text-dark">Francis Mitcham</label>
                    <div class="col-lg-3 col-6">
                        <span class="fw-semibold fs-6 ">( 25 Age)</span>
                    </div>
                    <div class="col-lg-4 col-6">
                        <span class="fw-semibold fs-6 ">Wife</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="header-title">
                    <h4 class="card-title">Nominee Details</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <label class="col-lg-4 col-6  text-muted"> Name</label>
                    <div class="col-lg-8 col-6">
                        <span class="fw-semibold fs-6 ">:Sneha Misal</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-lg-4 col-6  text-muted"> Age</label>
                    <div class="col-lg-8 col-6">
                        <span class="fw-semibold fs-6 ">:24</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-lg-4 col-6  text-muted"> Relation</label>
                    <div class="col-lg-8 col-6">
                        <span class="fw-semibold fs-6 ">:Brother</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-lg-4 col-6  text-muted"> Mobile Number</label>
                    <div class="col-lg-8 col-6">
                        <span class="fw-semibold fs-6 ">:9876543210</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-lg-4 col-6  text-muted"> PAN Number</label>
                    <div class="col-lg-8 col-6">
                        <span class="fw-semibold fs-6 ">:JUG86658</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>